/model/

# Java
*.class
*.ear
*.jar
*.war

# Eclipse
.classpath
.project
.settings

# Idea
.idea
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Gradle
.gradle
!gradle-wrapper.jar

# Maven
*/target/

# Spring
.sts4-cache

tickler-ngs/temp/*

